@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,600&family=Roboto&display=swap');

#root {
  margin: 0;
  min-height: 100svh;
  min-height: 100vh;
  min-width: 320px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
}

h2 {
  font-family: 'Roboto Serif', serif;
}